@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;
}

:root {
  --bg-body-color: lightgray;
  --bg-p-color: darkgrey;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "Lobster", cursive;
  font-size: 180%;
  text-align: center;

  background-color: var(--bg-body-color);
}

h1 {
  margin-top: 20px;
}

button {
  width: 140px;
  height: 40px;

  border: 1px solid black;
  border-radius: 5px;

  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button:hover {
  background-color: rgb(184, 212, 169);
}

#instructions {
  margin: 40px auto 0 auto;

  width: 80%;

  border: double 8px black;

  background-color: var(--bg-p-color);
}

#whole-counter img {
  height: 25px;
}

#shlepa {
}

.statistics {
  margin-top: 40px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.shop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
  width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: white;

  border: 1px solid black;
  border-radius: 10px;

  text-align: left;
}

.shop>table {
  border-spacing: 20px;
}


.add-btn {
  width: 20px;
  height: 20px;
}

.none {
  display: none;
}