@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-color: lightgray;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
}

#instructions{
    border: double 8px black;
    width: 80%;
    margin: auto;
    background-color: darkgrey;
}

#WholeCounter img{
    height: 25px;
}

.statistics{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}